/* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1e1c6;
    color: #3a2e2a;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #cc444b;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #f7e1c1;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #f7e1c1;
    text-decoration: none;
    font-weight: bold;
}

/* Conteneur principal */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Sections */
section {
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section À propos */
.about {
    background-color: #f7e1c1;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.about-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-image {
    flex: 1;
    text-align: right;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
}

.about-block h2 {
    color: #9a3d2c;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 10px;
}

/* Section Centres d'intérêt et Compétences */
.interests {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.interests-block img {
    height: 24px;
    width: auto;
    margin-left: 20px;
    border-radius: 5px;
}

.interests-block,
.skills-block {
    flex: 1;
    background-color: #f7e1c1;
    padding: 20px;
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interests-block h2,
.skills-block h2 {
    color: #9a3d2c;
    margin-bottom: 20px;
}

.interests ul {
    list-style-type: none;
}

.interests li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Compétences spécifiques */
.skills-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    background-color: #f1e1c6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.skill h3 {
    color: #3a2e2a;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.logos img {
    width: 40px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.logos img:hover {
    transform: scale(1.1);
}


/* Section Projets */
.projects {
    background-color: #f7e1c1;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.project {
    margin-bottom: 10px;
}

.projects h2 {
    color: #9a3d2c;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #cc444b;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    color: #f7e1c1;
}

footer a {
    color: #f1e1c6;
}